.secondary-title span {
  font-size: 16px;
  line-height: 18.75px;
}

.secondary-description {
  display: none;
  flex-direction: column;
}

.drop-up {
  display: none;
}

.name {
  font-size: 18px;
  line-height: 21.09px;
}

.post {
  color: #8f8f8f;
}

.nav-title-text {
  font-weight: 500;
  line-height: 20px;
}

.nav-drop-down {
  display: none;
}

.notification {
  height: 16px;
  border-radius: 8px;
  padding: 0 5px;
  color: white;
  font-size: 12px;
  line-height: 16px;
}

.green {
  background-color: #47b091;
}

.red {
  background-color: #e33939;
}

.balance-value {
  color: #8f8f8f;
  font-size: 12px;
  line-height: 14.06px;
}

.d-flex {
  gap: 32px;
}

@media (max-width: 700px) {
  .resume-container {
    flex-direction: column-reverse !important;
  }
  .d-flex {
    gap: 16px;
  }
}

@media (max-width: 400px) {
  .d-flex {
    gap: 9px;
  }
}
